---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import CodeIcon from "../icons/Code.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import TitleSection from "../components/TitleSection.astro";
import AboutMe from "../components/AboutMe.astro";
import Home from "../components/Home.astro";
import BriefCase from "../icons/BriefCase.astro";
---

<Layout
  title="Portfolio de Bruno Perez - Desarrollador Frontend y Programador web"
>
  <main class="px-2">
    <div class="justify-items-center py-10"></div>
    <SectionContainer id="home">
      <Home />
    </SectionContainer>

    <SectionContainer id="experience">
      <TitleSection>
        <BriefCase class="size-5 md:size-7" />
        Experience
      </TitleSection>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-6 md:size-8" />
        Projects
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about">
      <TitleSection>
        <ProfileCheck class="size-6 md:size-8" />
        About me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>

<style></style>
