---
const personalImageAlt = "Bruno Perez";
---

<article
 class="flex flex-col items-center justify-center gap-20 text-gray-300 md:flex-row"
>
 <div
  class="[&>p]:mb-4 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 max-w-2xl"
 >
  <p>
   My name is Bruno, and I am a Frontend Developer with experience in
   technologies such as ReactJS, Angular, JavaScript, TypeScript, HTML, and CSS.
   I also have knowledge of the Redux pattern in both React and Angular, as well
   as experience working with React Native for mobile application development.
  </p>
  <p>
   I stand out for my strong communication skills, ability to work in a team,
   and self-taught learning approach, in addition to being organized and focused
   on creating effective solutions. As a highlight, I developed a complete
   website, covering both the frontend with ReactJS and the backend with
   MongoDB.
  </p>
  <p>
   My professional goal is to keep learning continuously and collaborate on
   exciting projects that allow me to grow and add value both to myself and to
   the environment in which I work.
  </p>
 </div>

 <img
  width="200"
  height="200"
  src="images/perfil.jpg"
  alt={personalImageAlt}
  class="order-1 object-cover w- h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl  bg-yellow-500/5 ring-1  ring-white/20"
  style="object-position: 50% 50%"
 />
</article>
