---
const personalImageAlt = "Bruno Perez";
---

<article
  class="flex flex-col items-center justify-center gap-20 text-gray-700 dark:text-gray-300 md:flex-row "
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 max-w-2xl"
  >
    <p>
      Me llamo Bruno, soy un Desarrollador Frontend Trainee con experiencia en
      tecnologías como ReactJS, Angular, JavaScript, TypeScript, HTML y CSS.
      También tengo conocimientos en el uso del patrón Redux tanto en React como
      en Angular, y experiencia trabajando con React Native para desarrollo de
      aplicaciones.
    </p>
    <p>
      Me destaco por mi buena comunicación, capacidad para trabajar en equipo y
      aprendizaje autodidacta, además de ser organizado y orientado a crear
      soluciones eficaces. Como proyecto destacado, desarrollé una página web
      completa, abarcando tanto el frontend con ReactJS como el backend con
      MongoDB.
    </p>
    <p>
      Mi objetivo profesional es seguir aprendiendo constantemente y colaborar
      en proyectos interesantes que me permitan crecer y aportar valor a mi
      tanto a mi persona como al entorno en que me encuentre.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="images/perfil.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w- h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
