---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
 {
  date: "Actually",
  title: "Frontend Developer",
  company: "Freelance",
  description:
   "I developed websites and e-commerce platforms using ReactJS, control panels for institutions with Angular, and mobile applications with React Native. I implemented the Redux pattern in these projects, ensuring efficiency and scalability in every solution.",
  link: "",
 },
];
---

<ol class="relative mt-16">
 {
  EXPERIENCE.map((experience) => (
   <li class="">
    <ExperienceItem {...experience} />
   </li>
  ))
 }
</ol>
