---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class=" text-black dark:text-white p-5 bg-white dark:bg-[#1b1e38]"
  >
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: dark light;
      }
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
      }
      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
